.gradle
.idea/
.idea_modules/
.mtj.tmp/
out/
build/
cmake-build-*/
target/
*.class
*.ctxt
*.ear
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.gradletasknamecache
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
fabric.properties
gradle-app.setting
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
wrapper.jar
